<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT YOUR INFORMATION</title>
</head>

<body>
    <h2>here are your details</h2>
    <form method="post" action="/user/<%=user.id%>?_method=PATCH">
        <label>Username:</label><textarea name="username" rows="1" cols="40"><%=user.username %> </textarea>
        <label>password:</label><input type="password" placeholder="enter your password" name="password">
        <button>Edit</button>
    </form>

</body>

</html>